body{
    min-height: 100vh;
    background-color: #f6f6ec;
    margin: 0 10%;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}

body:hover .icon{
    visibility: visible;
}

h3{
    margin: 10px;
}

img.meme{
    visibility: hidden;
    height: 0;
    max-height: 100px;
    min-width: 100px;
    display: block;
    text-align: center;
    margin: auto;
    padding: 10px 0;
}

img.icon{
    visibility: hidden;
    height: 1em;
    width: 1em;
    float: right;
}

.wrapper:active img.icon{
    transform: rotate(45deg);
}
.wrapper:hover img.icon{
    transform: rotate(45deg);
}

.title{
    border-top: 1px solid #c0c0c0;
    display: flex;
    width: 100%;
}

button{
    right: 10px;
}

.wrapper:hover .meme{
    visibility: visible;
    height: auto;
}

p{
    margin: 0;
}

img.visible{
    visibility: visible;
    height:auto;
}

.wrapper:active .visible{
    visibility: hidden;
    height: 0;
}